.autocomplete {
  position: relative;
  width: 300px;
  font-family: Arial, sans-serif;
}

.input-wrapper {
  position: relative;
}

.autocomplete-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding-right: 30px;
}

.clear-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.clear-button:focus {
  outline: none;
}

.suggestions {
  border: 1px solid #ccc;
  border-top-width: 0;
  list-style: none;
  margin: 0;
  max-height: 500px;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 4px 4px;
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.suggestions li.suggestion-active {
  background-color: #f0f0f0;
}

.suggestions li.no-match-found {
  color: #999;
  padding: 10px;
}

.highlight {
  font-weight: bold;
  background-color: rgb(247, 197, 154);
}

.loader {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
  color:gray;
}
.App{
  margin: 2%
}